@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@600&display=swap');
body{
    background-color: black;
    color:rgb(255, 239, 215);
    margin: 0;
    scroll-behavior: smooth;
    overflow-x: hidden;
}
#menucont{
    margin-top: 3vh;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
#heading{
    width: 100vw;
    min-height: 600px;
}
#login{
    margin-right: 24vw;
    cursor: pointer;
    font-size: 1.1vw;
    width: 10vw;
    font-family: 'Roboto', sans-serif;
}
#app{
    margin-left: 28vw;
    cursor: pointer;
    font-size: 1.1vw;
    width: 10vw;
    font-family: 'Roboto', sans-serif;
}
.menu{
    color: rgb(255, 239, 215);
    cursor: pointer;
    font-family: 'Roboto', sans-serif;
    font-size: 1vw;
    margin-left: 4vw;
}
#title{
    margin-top: 35vh;
    font-size: 5vw;
    font-family: 'Quicksand', sans-serif;
    text-align: center;
}
#background{
    width: 100%;
    filter: grayscale(10%) brightness(20%) blur(5px);
    object-fit:none;
    -webkit-filter: grayscale(10%) brightness(20%) blur(5px);
    -moz-filter: grayscale(10%) brightness(20%) blur(5px);
    -o-filter: grayscale(10%) brightness(20%) blur(5px);
    position: absolute;
    top: 0;
    left: 0;
    z-index:-1;
    margin: 0;
    transform: scale(1.2);
}
#down{
    width: 2vw;
    height: 2vw;
    position: absolute;
    top: 95vh;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    filter: invert(100%);
}
#mb1{
    position: absolute;
    filter: grayscale(10%) brightness(20%) blur(7px);
    object-fit:none;
    -webkit-filter: grayscale(10%) brightness(20%) blur(7px);
    -moz-filter: grayscale(10%) brightness(20%) blur(7px);
    -o-filter: grayscale(10%) brightness(20%) blur(7px);
    left: 0;
    z-index:-1;
    margin: 0;
    transform: scale(0.9);
    width: 100vw;
}
#projectCont{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#pt{
    font-size: 4vw;
    font-family: 'Quicksand', sans-serif;
}
#p{
    font-size: 1.5vw;
    text-align:center;
    font-family: 'Roboto', sans-serif;
}
#hardwareCont{
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}
#hardImgCont{
    display: flex;
    justify-content: center;
    align-items: center;
    filter: brightness(40%);
    -webkit-filter: brightness(40%);
    -moz-filter: brightness(40%);
    -o-filter: brightness(40%);
    margin-top: 5%;
}
#mb2{
    height: 15vw;
    width: 20vw;
    object-fit:contain;
}
#mb3{
    height: 10vw;
    width: 15vw;
    object-fit:contain;
    transform: scale(1.5);
}
#mb4{
    height: 20vw;
    width: 15vw;
    object-fit:contain;
    transform: scale(1.5);
}
#rht{
    font-size: 4vw;
    font-family: 'Quicksand', sans-serif;
}
#rh{
    font-size: 2vw;
    font-family: 'Roboto', sans-serif;
}
input, button{
    outline:none;
    border-width: 0.2vw;
    border-style:solid;
    border-color:rgb(255, 239, 215);
    color: rgb(255, 239, 215);
    background-color: black;
    border-radius: 40px;
    width: 25%;
    font-size: 2vw;
    font-family: 'Roboto', sans-serif;
    padding-left: 15px;
    padding-right: 15px;
}
#signupcont{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#rt{
    font-size: 4vw;
    font-family: 'Quicksand', sans-serif;
    text-align: center;
}
#rt2{
    margin-top:1vh;
    font-size: 1.8vw;
    font-family: 'Quicksand', sans-serif;
    text-align: center;
}
#signup{
    margin-top:4vh;
    cursor: pointer;
}
#nickname{
    margin-top:4vh;
}
#password{
    margin-top:4vh;
}
#floor{
    font-size: 1.2vw;
    font-family: 'Roboto', sans-serif;
    width: 100%;
    text-align: center;
}
#arrowtop{
    width: 50px;
    height: 50px;
    position: fixed;
    bottom: 2vw;
    right: 2vw;
    filter: invert(100%);
    transform: rotate(180deg);
    cursor: pointer;
    display: none;
    height: 3vw;
    width: 3vw;
}
#status{
    display: block;
    margin-left: auto;
    margin-right: auto;
    color: red;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    font-size: 1.1vw;
}
#loading{
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    z-index: 99999999;
    background: rgb(42,157,168);
    background: radial-gradient(circle, rgba(42,157,168,1) 0%, rgba(94,48,119,1) 100%); 
}
#loadingLogo{
    position: fixed;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    top: 50%;
    box-shadow: 0px 0px 15px #111;
}