@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@600&display=swap');
body{
    background-color: black;
    color:rgb(255, 239, 215);
    margin: 0;
    scroll-behavior: smooth;
    overflow-x: hidden;
}
#title{
    position: absolute;
    top: 35vh;
    font-size: 5vw;
    font-family: 'Quicksand', sans-serif;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
#background{
    width: 100%;
    height: 100%;
    filter: grayscale(10%) brightness(20%);
    object-fit:cover;
}
#down{
    width: 2vw;
    height: 2vw;
    position: absolute;
    top: 95%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    filter: invert(100%);
}
#mb1{
    width: 90vw;
    height: 90vh;
    position: absolute;
    margin-left: 10vh;
    top: 120%;
    filter: grayscale(10%) brightness(20%);
    object-fit:contain;
}
#pt{
    position: absolute;
    font-size: 4vw;
    top: 130%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    text-align:center;
    font-family: 'Quicksand', sans-serif;
}
#p{
    position: absolute;
    font-size: 1.5vw;
    top: 150%;
    text-align:center;
    font-family: 'Roboto', sans-serif;
}
#mb2{
    position: absolute;
    top: 250%;
    right: 3vw;
    filter: brightness(40%);
    height: 40vh;
    width: 30vw;
    object-fit:contain;
}
#mb3{
    position: absolute;
    top: 280%;
    right: 9vw;
    filter: brightness(40%);
    height: 50vh;
    width: 50vh;
    object-fit:contain;
}
#mb4{
    position: absolute;
    top: 270%;
    right: -5vw;
    filter: brightness(40%);
    height: 80vh;
    width: 30vw;
    object-fit:contain;
}
#rht{
    position: absolute;
    top: 250%;
    font-size: 4vw;
    font-family: 'Quicksand', sans-serif;
}
#rh{
    position: absolute;
    top: 280%;
    font-size: 2vw;
    font-family: 'Roboto', sans-serif;
}
#rt{
    position: absolute;
    top: 350%;
    font-size: 4vw;
    font-family: 'Quicksand', sans-serif;
    text-align: center;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}
#rt2{
    position: absolute;
    top: 370%;
    font-size: 1.8vw;
    font-family: 'Quicksand', sans-serif;
    text-align: center;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}
input, button{
    outline:none;
    border-width: 0.2vw;
    border-style:solid;
    border-color:rgb(255, 239, 215);
    color: rgb(255, 239, 215);
    background-color: black;
    border-radius: 40px;
    width: 25%;
    position: absolute;
    font-size: 2vw;
    font-family: 'Roboto', sans-serif;
    padding-left: 15px;
    padding-right: 15px;
}
#signupcont{
    position: absolute;
    top: 390%;
    width: 100%;
}

#nickname{
    display: block;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    
}
#password{
    display: block;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    
}
#floor{
    position: absolute;
    top: 450%;
    font-size: 1.2vw;
    font-family: 'Roboto', sans-serif;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}
#signup{
    display: block;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    cursor: pointer;
    
}
.menu{
    color: rgb(255, 239, 215);
    cursor: pointer;
    font-family: 'Roboto', sans-serif;
    font-size: 1vw;
    margin: 4vw;
}
#menucont{
    top: 10%;
    position: absolute;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    width: 50vw;
    display: flex;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
}

#login{
    top: 8%;
    left: 87%;
    cursor: pointer;
    font-size: 1.1vw;
    width: 10%;
    font-family: 'Roboto', sans-serif;
}
#arrowtop{
    width: 50px;
    height: 50px;
    position: fixed;
    bottom: 2vw;
    right: 2vw;
    filter: invert(100%);
    transform: rotate(180deg);
    cursor: pointer;
    display: none;
    height: 3vw;
    width: 3vw;
}
#status{
    display: block;
    margin-left: auto;
    margin-right: auto;
    color: red;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    font-size: 1.1vw;
}
#app{
    top: 8%;
    right: 87%;
    cursor: pointer;
    font-size: 1.1vw;
    width: 10vw;
    font-family: 'Roboto', sans-serif;
}
#loading{
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    z-index: 99999999;
    background: rgb(42,157,168);
    background: radial-gradient(circle, rgba(42,157,168,1) 0%, rgba(94,48,119,1) 100%); 
}
#loadingLogo{
    position: fixed;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    top: 50%;
    box-shadow: 0px 0px 15px #111;
}