@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@600&display=swap');
body{
    background-color: black;
    color:rgb(255, 239, 215);
    margin: 0;
    font-family: 'Roboto', sans-serif;
}
#map{
    width: 40%;
}
#photocont{
    position: absolute;
    top: 40%;
    width: 40%;
    height: 60%;
    background-color: #111;
}
#pt{
    padding: 0.5%;
    position: absolute;
    font-family: 'Quicksand', sans-serif;
    top: 36%;
    font-size: 200%;
    background-color: rgba(17, 17, 17, 0.336);
    width: 40%;
}
#snp{
    text-align: center;
    margin-top: 30%;
    font-size: 150%;
}
button{
    outline: none;
    cursor: pointer;
    color: rgb(255, 239, 215);
    font-family: 'Roboto', sans-serif;
    border: 10px solid;
    border-image-slice: 1;
    border-width: 5px;
    padding: 4%;
    background-color: #111;
    position: absolute;
    font-size: 160%;
}
#gp{
    padding: 1%;
    background-color:rgba(0, 0, 0, 0.363);
    border: none;
    width: 30%;
    font-size: 150%;
    top: 90%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}
#ct{
    position: absolute;
    font-family: 'Quicksand', sans-serif;
    font-size: 300%;
    top: 0%;
    right: 2%;
}
#clover3dview{
    position: absolute;
    left: 40%;
    top: 0%;
    width: 40%;
    height: 40%;
}
#status{
    position: absolute;
    font-family: 'Quicksand', sans-serif;
    font-size: 200%;
    top: 11%;
    right: 3%;
    text-align: right;
}
#alt{
    position: absolute;
    top: 30%;
    left: 55%;
    font-size: 150%;
}
#actions{
    position: absolute;
    top: 40%;
    right: 0%;
    height: 60%;
    width: 20%;
}
#rtp{
    padding-top: 5%;
    padding-bottom: 5%;
    font-size: 114%;
    width: 49%;
    right: 0%;
    border-image-source: linear-gradient(to left, #3ad0d5, #743ad5);
}
#l{
    width: 49%;
    border-image-source: linear-gradient(to left, #743ad5, #d53a9d);
}
#r{
    width: 49%;
    text-align: center;
    top:20%;
    right: 0%;
    border-image-source: linear-gradient(to left, #3ad0d5, #743ad5);
}
#h{
    width: 49%;
    text-align: center;
    top:20%;
    border-image-source: linear-gradient(to left, #743ad5, #d53a9d);
}
#settings{
    width: 100%;
    top: 40%;
    border-image-source: linear-gradient(to left, #3ad0d5, #d53a9d);
}
#upload{
    position: absolute;
    top: 40%;
    left: 40%;
    width: 40%;
    height: 60%;
}
#mission{
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}
#fl{
    position: absolute;
    top: 27%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    outline: none;
    background-color:#111;
    cursor: pointer;
    color: rgb(255, 239, 215);
    font-family: 'Roboto', sans-serif;
    padding: 4%;
    position: absolute;
    font-size: 180%;
    background: linear-gradient(to top right, #3ad0d5, #d53a9d);
    width: 27.8%;
}
#ut{
    position: absolute;
    font-family: 'Quicksand', sans-serif;
    font-size: 270%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}
#ub{
    width: 100%;
    top: 44%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    border-image-source: linear-gradient(to bottom right, #3ad0d5, #d53a9d);
    width: 35.7%;
}
#volt{
    position: absolute;
    top: 30%;
    left: 65%;
    font-size: 150%;
}
#pfc{
    position: absolute;
    width: 100%;
    height: 100%;
}
.warn{
    position:absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    width: 40%;
    z-index: 99999;
    height: 40%;
    border-radius: 50px;
    border-style:solid;
    border-width: 3px;
    border-color: #8c35ff;
    background-color: #111;
    color: rgb(255, 239, 215);
    font-family: 'Roboto', sans-serif;
    font-size: 150%;
    display: none;
    opacity: 0;
    word-wrap: break-word;
}
.warntext{
    position: absolute;
    top: 10%;
    text-align: center;
    padding: 2%;
}
.close{
    position: absolute;
    top: 4%;
    right: 4%;
    cursor: pointer;
}
a{
    color: #8c35ff;
    outline: none;
}
#settingslist{
    position:absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    width: 700px;
    z-index: 99999;
    height: 500px;
    border-radius: 50px;
    border-style:solid;
    border-width: 3px;
    border-color: #8c35ff;
    background-color: #111;
    color: rgb(255, 239, 215);
    font-family: 'Roboto', sans-serif;
    display: none;
    opacity: 0;
}
#st{
    text-align: center;
    font-size: 200%;
}
#rtost{
    font-size: 160%;
    padding-left: 10px;
}
#rtos{
    font-size: 140%;
    margin-left: 10%;
}
#rtos input{
    width: 30px;
    color:rgb(255, 239, 215);
    background-color: #111;
    border: none;
    outline: none;
    font-size: 101%;
}
select{
    background-color: #111;
    color:rgb(255, 239, 215);
    border: none;
    outline: none;
    font-size: 101%;
    cursor: pointer;
}
#gphst{
    font-size: 160%;
    padding-left: 10px;
}
#gphs{
    font-size: 140%;
    margin-left: 10%;
}
#savesettings{
    position: absolute;
    top: 95.8%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    width: 300px;
    border-style:solid;
    border-width: 3px;
    border-color: #8c35ff;
    border-bottom-color: #111;
    padding: 1%;
    font-size: 150%;
}
#cloverside{
    width: 90%;
    height: 90%;
}