@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@600&display=swap');
body{
    background-color: black;
    color:rgb(255, 239, 215);
    margin: 0;
    font-family: 'Roboto', sans-serif;
    overflow: hidden;
}
#map{
    width: 40%;
}
#photocont{
    position: absolute;
    top: 40%;
    width: 40%;
    height: 60%;
    background-color: #111;
}
#pt{
    padding: 0.5%;
    position: absolute;
    font-family: 'Quicksand', sans-serif;
    top: 37%;
    font-size: 1.8vw;
    background-color: rgba(17, 17, 17, 0.336);
    width: 40%;
}
#snp{
    text-align: center;
    margin-top: 30%;
    font-size: 1.4vw;
}
button{
    outline: none;
    cursor: pointer;
    color: rgb(255, 239, 215);
    font-family: 'Roboto', sans-serif;
    border: 10px solid;
    border-image-slice: 1;
    border-width: 0.3vw;
    padding: 4%;
    background-color: #111;
    position: absolute;
    font-size: 1.4vw;
}
#gp{
    padding: 1%;
    background-color:rgba(0, 0, 0, 0.363);
    border: none;
    width: 30%;
    font-size: 1.35vw;
    top: 90%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}
#ct{
    position: absolute;
    font-family: 'Quicksand', sans-serif;
    font-size: 2.5vw;
    top: 0%;
    right: 2%;
}
#clover3dview{
    position: absolute;
    left: 40%;
    top: 0%;
    width: 40%;
    height: 40%;
}
#status{
    position: absolute;
    font-family: 'Quicksand', sans-serif;
    font-size: 1.6vw;
    top: 11%;
    right: 3%;
    text-align: right;
}
#alt{
    position: absolute;
    top: 30%;
    left: 55%;
    font-size: 1.35vw;
}
#actions{
    position: absolute;
    top: 45%;
    right: 0%;
    height: 60%;
    width: 20%;
}
#rtp{
    
    right: 0;
    width: 49%;
    border-image-source: linear-gradient(to left, #3ad0d5, #743ad5);
}
#l{ 
    width: 49%;
    border-image-source: linear-gradient(to left, #743ad5, #d53a9d);
}
#r{
    top: 12vh;
    right: 0;
    width: 49%;
    text-align: center;
    border-image-source: linear-gradient(to left, #3ad0d5, #743ad5);
}
#h{
    top: 12vh;
    width: 49%;
    text-align: center;
    border-image-source: linear-gradient(to left, #743ad5, #d53a9d);
}
#settings{
    top: 24vh;
    width: 100%;
    border-image-source: linear-gradient(to left, #3ad0d5, #d53a9d);
}
#upload{
    position: absolute;
    top: 40%;
    left: 40%;
    width: 40%;
    height: 60%;
}
#mission{
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}
#fl{
    position: relative;
    margin-right: auto;
    margin-left: auto;
    display: block;
    outline: none;
    background-color:#111;
    cursor: pointer;
    color: rgb(255, 239, 215);
    font-family: 'Roboto', sans-serif;
    padding: 4%;
    font-size: 1.5vw;
    background: linear-gradient(to top right, #3ad0d5, #d53a9d);
    width: 27.8%;
    text-align: center;
}
#ut{
    text-align: center;
    width: 100%;
    font-family: 'Quicksand', sans-serif;
    font-size: 2.3vw;
}
#ub{
    width: 100%;
    position: relative;
    margin-right: auto;
    margin-left: auto;
    display: block;
    font-size: 1.5vw;
    border-image-source: linear-gradient(to bottom right, #3ad0d5, #d53a9d);
    width: 35.7%;
}
#volt{
    position: absolute;
    top: 30%;
    left: 65%;
    font-size: 1.35vw;
}
#pfc{
    height: 100%;
    width: 100%;
    object-fit: contain;
}
.warn{
    position:absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    width: 40%;
    z-index: 99999;
    height: 40%;
    border-radius: 50px;
    border-style:solid;
    border-width: 3px;
    border-color: #8c35ff;
    background-color: #111;
    color: rgb(255, 239, 215);
    font-family: 'Roboto', sans-serif;
    font-size: 1.35vw;
    display: none;
    opacity: 0;
    word-wrap: break-word;
    overflow: auto;
    scrollbar-width: none;
}
.warn::-webkit-scrollbar{ width :0px; }
.warntext{
    text-align: center;
    padding: 2%;
}
.close{
    position: absolute;
    top: 4%;
    right: 4%;
    cursor: pointer;
}
a{
    color: #8c35ff;
    outline: none;
}
#settingslist{
    position:absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    width: 40vw;
    z-index: 99999;
    height: 60vh;
    border-radius: 50px;
    border-style:solid;
    border-width: 3px;
    border-color: #8c35ff;
    background-color: #111;
    color: rgb(255, 239, 215);
    font-family: 'Roboto', sans-serif;
    display: none;
    opacity: 0;
}
#st{
    text-align: center;
    font-size: 2.2vw;
}
#rtost{
    font-size: 1.4vw;
    padding-left: 10px;
}
#rtos{
    font-size: 1.3vw;
    margin-left: 10%;
}
#rtos input{
    width: 30px;
    color:rgb(255, 239, 215);
    background-color: #111;
    border: none;
    outline: none;
    font-size: 101%;
}
select{
    background-color: #111;
    color:rgb(255, 239, 215);
    border: none;
    outline: none;
    font-size: 1vw;
    cursor: pointer;
}
#gphst{
    font-size: 1.4vw;
    padding-left: 10px;
}
#gphs{
    font-size: 1.3vw;
    margin-left: 10%;
}
#savesettings{
    position: absolute;
    top: 95.8%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    width: 15vw;
    border-style:solid;
    border-width: 0.15vw;
    border-color: #8c35ff;
    border-bottom-color: #111;
    padding: 1%;
    font-size: 1.35vw;
}
#cloverside{
    width: 90%;
    height: 90%;
}
#getInstructions{
    position: absolute;
    bottom: 0%;
    right: 0%;
    background-color: #111;
    color:rgb(255, 239, 215);
    padding: 0.5%;
    font-size: 1.25vw;
    border-style:solid;
    border-width: 0.25vw;
    border-top-color: #8c35ff;
    border-left-color: #8c35ff;
    border-bottom-color: #000;
    border-right: none;
}
#loading{
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    z-index: 99999999;
    background: rgb(42,157,168);
    background: radial-gradient(circle, rgba(42,157,168,1) 0%, rgba(94,48,119,1) 100%); 
}
#loadingLogo{
    position: fixed;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    top: 50%;
    box-shadow: 0px 0px 15px #111;
}