@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@600&display=swap');
body{
    background-color: black;
    color:rgb(255, 239, 215);
    margin: 0;
    scroll-behavior: smooth;
    overflow-x:hidden;
}
#rpi{
    position: absolute;
    height: 35vh;
    width: 100%;
    filter: brightness(30%) blur(5px);
    object-fit:cover;
}
#title{
    position: absolute;
    top: 3vh;
    clip-path: polygon(0% 0%, 100% 20%, 100% 100%, 0% 80%);
    background-color: #111;
    width: 100%;
    height: 90vh;
    font-family: 'Quicksand', sans-serif;
    font-size: 0.5vh;
    text-align: center;
    font-family: 'Quicksand', sans-serif;
    font-size: 3vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
#clover{
    position: absolute;
    top: 71%;
    width: 100%;
    height: 25vh;
    filter: brightness(30%) blur(5px);
    object-fit:cover;
}
#down{
    filter: invert(100%);
    width: 6vw;
    height: 6vw;
    position: absolute;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    top: 98%;
}
p{
    position: absolute;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
#pt{
    font-family: 'Quicksand', sans-serif;
    font-size: 5vh;
    top: 120%;
}
#p{
    font-size: 2vh;
    font-family: 'Roboto', sans-serif;
    top: 170%;
    background-color: #111;
    clip-path: polygon(0% 0%, 100% 20%, 100% 100%, 0% 80%);
    height: 30vh;
    padding-top: 30%;
    padding-bottom: 30%;
    padding-left: 1%;
    padding-right: 1%;
    text-align: left;
}

#rht{
    font-size: 3.5vh;
    font-family: 'Quicksand', sans-serif;
    top: 220%;
}
#rh{
    font-size: 2vh;
    font-family: 'Roboto', sans-serif;
    top: 260%;
    width: 100%;
    background-color: #111;
    padding-top: 30%;
    padding-bottom: 30%;
    padding-left: 1%;
    padding-right: 1%;
}
#rt{
    font-size: 5vh;
    font-family: 'Quicksand', sans-serif;
    top: 320%;
}
#rt2{
    font-size: 4vh;
    font-family: 'Quicksand', sans-serif;
    top: 330%;
}
input, #signup{
    outline:none;
    border-width: 4px;
    border-style:solid;
    border-color:rgb(255, 239, 215);
    color: rgb(255, 239, 215);
    background-color: black;
    border-radius: 50px;
    width: 80vw;
    position: absolute;
    font-size: 3.5vh;
    font-family: 'Roboto', sans-serif;
    padding-left: 15px;
    padding-right: 15px;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    text-align: center;
    padding-top: 2%;
    padding-bottom: 2%;
}
#nickname{
    top: 360%;
}
#password{
    top: 375%;
}
#signup{
    top: 390%;
}
#status{
    position: absolute;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    text-align: center;
    top: 400%;
    font-size: 1.9vh;
    color: red;
    font-family: 'Roboto', sans-serif;
}
#floor{
    position: absolute;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    text-align: center;
    top: 420%;
    font-size: 1.4vh;
    font-family: 'Roboto', sans-serif;
}
#signin, #app{
    border: none;
    width: 50%;
    font-size: 2.5vh;
    outline:none;
    color: rgb(255, 239, 215);
    background-color: #111;
    position: absolute;
    font-family: 'Roboto', sans-serif;
    padding-left: 15px;
    padding-right: 15px;
    text-align: center;
    padding-top: 1%;
    padding-bottom: 1%;
}
#app{
    right: 0;
}
#loading{
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    z-index: 99999999;
    background: rgb(42,157,168);
    background: radial-gradient(circle, rgba(42,157,168,1) 0%, rgba(94,48,119,1) 100%); 
}
#loadingLogo{
    position: fixed;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    top: 50%;
    box-shadow: 0px 0px 15px #111;
}