@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@300&display=swap');
body{
  margin: 0;
  background-color: #111;
  font-family: 'Roboto', sans-serif;
}
.swiper {
  position: absolute;
  width: 93vw;
  margin-top: 10%;
}
.swiper-slide {
  color:rgb(255, 239, 215);
  background-color: rgba(32, 32, 32, 0.452);
  border-radius: 40px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
#clover3dview{
  filter: blur(3px);
  position: absolute;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  top: 20vh;
  width: 80vw;
  height: 40vh;
  z-index:-1;
}
#status{
  margin-top: 1%;
  margin-left: 1%;
  font-size:4.5vw;
}
input{
  outline: none;
}
button{
  outline: none;
  cursor: pointer;
  color: rgb(255, 239, 215);
  font-family: 'Roboto', sans-serif;
  border: 0.5vh solid;
  border-image-slice: 1;
  padding: 4%;
  background-color: #111;
  font-size: 5.5vw;
}
.withripple {
  background-position: center;
  transition: background 0.8s;
}
.withripple:active {
  background-color: rgba(113, 113, 113, 0.32);
  background-size: 100%;
  transition: background 0s;
}
#rtp, #r{
  margin-left:2%;
}

#lrt, #hr{
  width: 100%;
  display: flex;
  flex-wrap:nowrap;
}
#hr{
  margin-top: 5%;
}
#lrt{
  margin-top: 50%;
}
#l{
  width: 49%;
  border-image-source: linear-gradient(to left, #743ad5, #d53a9d);
}
#r{
  width: 49%;
  text-align: center;
  border-image-source: linear-gradient(to left, #3ad0d5, #743ad5);
}
#h{
  width: 49%;
  text-align: center;
  border-image-source: linear-gradient(to left, #743ad5, #d53a9d);
}
#rtp{
  width: 49%;
  border-image-source: linear-gradient(to left, #3ad0d5, #743ad5);
}
#pt{
  margin-top: 10%;
  font-family: 'Quicksand', sans-serif;
  font-size: 4vw;
}
#photocont{
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
}
#gp{
  color: rgb(255, 239, 215);
  border-color: rgb(255, 239, 215);
  width: 50%;
}
#camera{
  opacity: 0;
  width: 10vw;
  height: 10vw;
}
#photoslide{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
}
#photo{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 40vh;
}
#pfc{
  height: 100%;
  width: 100%;
  object-fit: contain;
}
#snp{
  font-size: 3.5vw;
}
#mission{
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
}
#upload{
  display: flex;
  align-items: center;
  flex-direction: column;
}
#fl{
  outline: none;
  cursor: pointer;
  color: rgb(255, 239, 215);
  font-family: 'Roboto', sans-serif;
  padding: 6% 4%;
  font-size: 5.5vw;
  background: linear-gradient(to top right, #3ad0d5, #d53a9d);
  text-align: center;
  width: 70vw;
  margin-top: 30%;
}
#ut{
  font-family: 'Quicksand', sans-serif;
  font-size: 6vw;
}
#ub{
  border-image-source: linear-gradient(to bottom right, #3ad0d5, #d53a9d);
  width: 76vw;
  margin-top:-1%;
  padding: 6% 4%;
}
#uploadImg{
  opacity: 0;
  width: 10vw;
  height: 10vw;
}
#settingsContainer{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
#st{
  font-size: 6vw;
}
#rtost{
  font-size: 5vw;
  width: 100%;
}
#rtos{
  font-size: 4vw;
  width: 100%;
  margin-left: 10%;
}
#rtos input{
  width: 5vw;
  color:rgb(255, 239, 215);
  background-color: #111;
  border: none;
  outline: none;
  font-size: 4vw;
}
select{
  background-color: #111;
  color:rgb(255, 239, 215);
  border: none;
  outline: none;
  font-size: 101%;
  cursor: pointer;
}
#gphst{
  font-size: 5vw;
  width: 100%;
}
#gphs{
  font-size: 4vw;
}
#savesettings{
  width: 30vw;
  border-style:solid;
  border-width: 0.5vh;
  border-color: #8c35ff;
  padding: 1%;
  font-size: 4.5vw;
  margin-top: 15%;
}
#loading{
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  z-index: 99999999;
  background: rgb(42,157,168);
  background: radial-gradient(circle, rgba(42,157,168,1) 0%, rgba(94,48,119,1) 100%); 
}
#loadingLogo{
  position: fixed;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  top: 50%;
  box-shadow: 0px 0px 15px #111;
}
#map{
  width: 98%;
  margin-top: 35vh;
}
.warn{
  z-index: 3000;
  position: absolute;
  width: 90vw;
  height: 70vh;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  display: none;
  opacity: 0;
  border-radius: 10px;
  background-color: #222;
  color:rgb(255, 239, 215);
  padding: 1vw;
  word-wrap: break-word;
  overflow: auto;
  scrollbar-width: none;
  border-style:solid;
  border-width: 0.17vw;
  border-color: #8c35ff;
}
.warn::-webkit-scrollbar{ width :0px; }
.warntext{
  text-align: center;
  margin-top: 10vh;
  font-size: 1.8vh;
}
.close{
  position: absolute;
  right: 4vw;
  top: 4vw;
  cursor: pointer;
}
#rtowarn{
  height: 30vh;
}
#alt{
  position:absolute;
  top: 85vh;
  left: 10vw;
  font-size: 1.9vh;
  color:rgb(255, 239, 215);
  font-family: 'Roboto', sans-serif;
}
#volt{
  position:absolute;
  top: 85vh;
  right: 10vw;
  font-size: 1.9vh;
  color:rgb(255, 239, 215);
  font-family: 'Roboto', sans-serif;
}
#gpswarn{
  height: 50vh;
}
#rtowarn{
  height: 20vh;
}
#rtherror{
  height: 15vh;
}
#missionOut{
  height: 60vh;
}
a{
  color:rgb(255, 239, 215);
}
code{
  font-family: 'Source Code Pro', monospace;
}