@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@600&display=swap');
body{
  margin: 0;
  background-color: #111;
  font-family: 'Roboto', sans-serif;
}
.swiper {
  position: absolute;
  width: 93vw;
  height: 80vh;
  margin-top: 10%;
}
.swiper-slide {
  color:rgb(255, 239, 215);
  background-color: rgba(32, 32, 32, 0.452);
  border-radius: 40px;
}
#clover3dview{
  filter: blur(3px);
  position: absolute;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  top: 20vh;
  width: 80vw;
  height: 40vh;
}
#status{
  position: absolute;
  top: -1.5%;
  left: 0.5%;
  font-size: 2.3vh;
}
input{
  outline: none;
}
button{
  outline: none;
  cursor: pointer;
  color: rgb(255, 239, 215);
  font-family: 'Roboto', sans-serif;
  border: 0.5vh solid;
  border-image-slice: 1;
  padding: 4%;
  background-color: #111;
  font-size: 3vh;
}
#l{
  position:absolute;
  top: 40vh;
  width: 49%;
  border-image-source: linear-gradient(to left, #743ad5, #d53a9d);
}
#r{
  position:absolute;
  top: 40vh;
  width: 49%;
  text-align: center;
  right: 0%;
  border-image-source: linear-gradient(to left, #3ad0d5, #743ad5);
}
#h{
  position:absolute;
  top: 50vh;
  width: 49%;
  text-align: center;
  border-image-source: linear-gradient(to left, #743ad5, #d53a9d);
}
#rtp{
  position:absolute;
  top: 50vh;
  width: 49%;
  right: 0%;
  border-image-source: linear-gradient(to left, #3ad0d5, #743ad5);
}
#pt{
  font-family: 'Quicksand', sans-serif;
  position: absolute;
  top: 15vh;
  font-size: 2.3vh;
}
#gp{
  position: absolute;
  top: 70vh;
  color: rgb(255, 239, 215);
  border-color: rgb(255, 239, 215);
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}
#photoslide{
  display: flex;
  justify-content: center;
  align-items: center;
}
#mission{
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}
#fl{
  position: absolute;
  top: 50vh;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  outline: none;
  cursor: pointer;
  color: rgb(255, 239, 215);
  font-family: 'Roboto', sans-serif;
  padding: 4%;
  position: absolute;
  font-size: 3vh;
  background: linear-gradient(to top right, #3ad0d5, #d53a9d);
  width: 80vw;
  text-align: center;
}
#ut{
  position: absolute;
  font-family: 'Quicksand', sans-serif;
  font-size: 3vh;
  left: 50%;
  top: 25vh;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}
#ub{
  position: absolute;
  top: 70vh;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  border-image-source: linear-gradient(to bottom right, #3ad0d5, #d53a9d);
  width: 80vw;
}

#st{
  text-align: center;
  font-size: 3vh;
}
#rtost{
  font-size: 2.3vh;
  padding-left: 10px;
}
#rtos{
  font-size: 2vh;
  margin-left: 10%;
}
#rtos input{
  width: 5vw;
  color:rgb(255, 239, 215);
  background-color: #111;
  border: none;
  outline: none;
  font-size: 2vh;
}
select{
  background-color: #111;
  color:rgb(255, 239, 215);
  border: none;
  outline: none;
  font-size: 101%;
  cursor: pointer;
}
#gphst{
  font-size: 2.3vh;
  padding-left: 10px;
}
#gphs{
  font-size: 2vh;
  margin-left: 10%;
}
#savesettings{
  position: absolute;
  top: 70vh;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  width: 30vw;
  border-style:solid;
  border-width: 0.5vh;
  border-color: #8c35ff;
  padding: 1%;
  font-size: 2.4vh;
}
#loading{
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  z-index: 99999999;
  background: rgb(42,157,168);
  background: radial-gradient(circle, rgba(42,157,168,1) 0%, rgba(94,48,119,1) 100%); 
}
#loadingLogo{
  position: fixed;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  top: 50%;
  box-shadow: 0px 0px 15px #111;
}
#map{
  width: 98%;
  margin-top: 35vh;
  display: block;
  margin-right: auto;
  margin-left: auto;
}
.warn{
  z-index: 3000;
  position: absolute;
  width: 90vw;
  height: 70vh;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  display: none;
  opacity: 0;
  border-radius: 10px;
  background-color: #222;
  color:rgb(255, 239, 215);
  padding: 1vw;
  word-wrap: break-word;
  overflow: auto;
  scrollbar-width: none;
  border-style:solid;
  border-width: 0.17vw;
  border-color: #8c35ff;
}
.warn::-webkit-scrollbar{ width :0px; }
.warntext{
  text-align: center;
  margin-top: 10vh;
  font-size: 1.8vh;
}
.close{
  position: absolute;
  right: 4vw;
  top: 4vw;
  cursor: pointer;
}
#rtowarn{
  height: 30vh;
}